@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

/* 공통 영역 */
.inner {
  position: relative;
  width: 1180px;
  margin: auto;
  /* background-color: red; */
}

/* 전체 레이아웃 */

/* 상단 */
.header {
  width: 100%;
}

.header .inner {
  height: 120px;
  /* background-color: rgb(255, 255, 255); */
}

/* 상단 위 */

.header-top {
  height: 60px;
  /* background-color: rgb(146, 255, 169); */
}

.util {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  padding-top: 30px;
}

.util li a {
  font-size: 15px;
}

/* 상단 아래 */

.header-bottom {
  height: 60px;
  /* background-color: rgb(217, 216, 253); */
  display: flex;
  justify-content: space-between;
}

.gnb {
  display: flex;
  width: 750px;
  justify-content: space-between;
}

.gnb li {
  width: calc(100% / 5);
}

.gnb li a {
  line-height: 60px;
  /* background-color: aquamarine; */
  display: block;
  width: 100%;
  text-align: center;
  font-weight: bold;
}

.gnb li a:hover {
  background-color: #333;
  color: white;
}

/* 비주얼 */

figure {
  position: relative;
  width: 100vw;
  height: calc(100vh - 120px);
  position: relative;
  padding-top: 250px;
}

figure video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  opacity: 0.7;
  position: absolute;
  top: 0;
  left: 0;
}

figure .inner h2 {
  font-size: 120px;
  line-height: 120px;
  color: #fff;
  margin-bottom: 10px;
}

figure .inner p {
  font: 16px/1.4 "arial";
  color: #333;
  margin-bottom: 60px;
}

figure .inner a {
  display: block;
  text-align: center;
  width: 400px;
  border: 1px solid #333;
  font: bold 12px/30px "arial";
}

figure .inner a:hover {
  background-color: #706d6d;
  color: #ffffff;
}

/* 뉴스 */

.section .inner{
    text-align: center;
    padding: 50px;
}

.ul-section{
    width: 100%;
    display: flex;
    gap: 20px;
    margin-top: 30px;
    height: 400px;
}

.ul-section li{
    width: calc(100% / 4);
    height: 100px;
}

.ul-section li img{
    width: 100%;
    object-fit: cover;
    height: 100%;
}
    

.ul-section li p{
    text-align: left;
}

.ul-section li p span{
    font-weight: bold;
    display: block;
    margin: 7px 0px;
}
/* 하단 */

.footer{
  padding: 100px;
  background-color: #585858;
}

.upper{
  display: flex;
  gap: 20px;
  border-bottom: 1px solid #858585;
  padding-bottom: 10px;
}

.upper > h2 > a{
  color: rgb(170, 170, 170);
}

.upper-nav{
  display: flex;
  gap: 10px;
  padding-top: 5px;
}

.upper-nav a{
  color: rgb(212, 212, 212);
}

.address{
  margin: 20px 0;
  font-style: normal;
  color: rgb(170, 170, 170);
}

.lower p {
  color: rgb(170, 170, 170);
}
